$green: #029855;
$lightgreen: #e6f4ea;
$blue: #1a73e8;
$red: #d70505;
$white: #ffffff;
$lightgray: #eeeeee;
$gray: #c1c3c5;
$darkgray: #5f6368;
$black: #000000;

$header-height: 55px;
$toolbar-height: 40px;
$formula-height: 24px;
$db-header-height: 64px;
$cell-width: 46px;
$row-height: 24px;
$col-width: 120px;
